{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "parser": "typescript"
}