@font-face {
  font-family: "AppleSDGothicNeo";
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  src: 
    /* url("./AppleSDGothicNeo-Regular.woff2") format("woff2"), */
    url("./AppleSDGothicNeo-Regular.woff") format("woff"),
    url("./AppleSDGothicNeo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
  src: 
    /* url("./AppleSDGothicNeo-Bold.woff2") format("woff2"), */
    url("./AppleSDGothicNeo-Bold.woff") format("woff"),
    url("./AppleSDGothicNeo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HomepageBaukasten";
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  src: 
    /* url("./HomepageBaukasten-Book.woff2") format("woff2"), */
    url("./HomepageBaukasten-Book.woff") format("woff"),
    url("./HomepageBaukasten-Book.ttf") format("truetype");
}

@font-face {
  font-family: "HomepageBaukasten";
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
  src: 
    /* url("./HomepageBaukasten-Bold.woff2") format("woff2"), */
    url("./HomepageBaukasten-Bold.woff") format("woff"),
    url("./HomepageBaukasten-Bold.ttf") format("truetype");
}

.dp4 {
  line-height: 1.42;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 48px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.dp3_eng {
  line-height: 1.22;
  letter-spacing: -0.5px;
  font-family: HomepageBaukasten;
  font-size: 46px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.dp2 {
  line-height: 1.25;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 40px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.dp2_eng {
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-family: HomepageBaukasten;
  font-size: 40px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.dp1 {
  line-height: 1.22;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 36px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.dp1_eng {
  line-height: 1.17;
  letter-spacing: -0.5px;
  font-family: HomepageBaukasten;
  font-size: 36px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.h2 {
  line-height: 1.31;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 32px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.h2_eng {
  line-height: 1.19;
  letter-spacing: -0.5px;
  font-family: HomepageBaukasten;
  font-size: 32px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.h1 {
  line-height: 1.36;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 28px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.h1_eng {
  line-height: 1.21;
  letter-spacing: -0.5px;
  font-family: HomepageBaukasten;
  font-size: 28px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead5 {
  line-height: 1.33;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 24px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead5_eng {
  line-height: 1.33;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 24px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead4 {
  line-height: 1.33;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 18px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead4_eng {
  line-height: 1.33;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 18px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.body4 {
  line-height: 1.56;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 18px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.body4_eng {
  line-height: 1.33;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 18px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.subhead3 {
  line-height: 1.38;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead3_eng {
  line-height: 1.25;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 16px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.body3 {
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.body3_eng {
  line-height: 1.25;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 16px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.subhead2 {
  line-height: 1.43;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead2_eng {
  line-height: 1.29;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 14px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.body2 {
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.body2_eng {
  line-height: 1.29;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 14px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.subhead1 {
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 12px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.subhead1_eng {
  line-height: 1.33;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 12px;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}

.body1 {
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-family: AppleSDGothicNeo;
  font-size: 12px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.body1_eng {
  line-height: 1.33;
  letter-spacing: normal;
  font-family: HomepageBaukasten;
  font-size: 12px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}
